{{ $content := .Content }}
{{ $raw := .RawContent }}
{{ $page := .Page }}

{{/* Escape slashes for Latex to fix line breaks */}}
{{$latex := findRE "\\$\\$([^\\$]+)\\$\\$" $content}}
{{range $latex}}
  {{$fixed := replaceRE "\\\\(?: +|\\n)" "\\\\" .}}
  {{$content = replace $content . $fixed}}
{{end}}

{{/* Wikilinks */}}
{{$wikilinks := $content | findRE "!?\\[\\[\\S[^\\[\\]\\|]*(?:\\|[^\\[\\]]*)?\\S\\]\\]" }}
{{$codefences := $raw | findRE "\\x60[^\\x60\\n]+\\x60"}}
{{$codeblocks := $raw | findRE "\\x60{3}[^\\x60]+\\x60{3}"}}
{{$code := union $codefences $codeblocks}}
{{range $wikilinks}}
  {{$cur := .}}
  {{$incode := false}}
  {{range $code}}
    {{if (in . $cur)}}
      {{$incode = true}}
    {{end}}
  {{end}}
{{end}}
{{ $content | safeHTML }}
